{% extends 'base.html.twig' %}
{% block title 'Agence lorem ipsum' %}
{% block body %}
	<div class="jumbotron text-center container">
		<h1>Agence lorem ipsum</h1>
		<p>
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem asperiores sequi quos nulla porro fugit labore nisi sint ullam. Iste tenetur odio obcaecati fugiat pariatur possimus dolor consequatur debitis doloremque.</p>
	</div>
{% endblock %}
